<ion-content>
  <div
    *ngIf="isLoading === true; else showSupporterClub"
    style="
      display: flex;
      align-items: center;
      height: 30em;
      justify-content: center;
    "
  >
    <ion-spinner></ion-spinner>
  </div>
  <ng-template #showSupporterClub>
    <ng-container *ngIf="supportedTeamGame && !changeSupporterTeam">
      <ion-header
        style="display: flex; justify-content: center; flex-direction: column"
      >
        <ion-toolbar>
          <img
            style="
              width: 80px;
              height: 100px;
              margin-left: 40%;
              margin-bottom: 5px;
              object-fit: contain;
            "
            [src]="supportTeamInfo.url"
          />
        </ion-toolbar>
      </ion-header>

      <div
        style="
          margin-top: 1em;
          margin-bottom: 1em;
          width: 100%;
          display: flex;
          justify-content: center;
        "
      >
        <ion-button
          (click)="changeSupporterTeam = true"
          style="font-weight: 100; width: 22em"
        >
          Selecione um novo time!
        </ion-button>
      </div>

      <ion-card style="margin-bottom: 1em">
        <ion-card-content>
          <ion-card-subtitle>
            Nome: {{supportTeamInfo?.name}}
          </ion-card-subtitle>
          <ion-card-subtitle>
            Local: {{supportTeamInfo?.city}}
          </ion-card-subtitle>
          <ion-card-subtitle>
            Estádio: {{supportTeamInfo?.stadium}}
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>

      <ion-card class="card">
        <ion-card-header>
          <ion-row class="ion-align-items-center">
            <ion-card-subtitle class="card__subtitle">
              Próxima partida - {{ clubsNextMatch.round }} - {{
              clubsNextMatch.date }}
              <p class="card__winner">Quem será o vencedor?</p>
            </ion-card-subtitle>
          </ion-row>
        </ion-card-header>

        <ion-card-content>
          <ion-label>
            <ion-row>
              <div class="votation">
                <ion-radio-group value="teams" [(ngModel)]="votedTeam">
                  <ion-item class="votation__team" lines="none">
                    <img
                      class="votation__img"
                      [src]="clubsNextMatch?.team1Img"
                    />
                    <label class="votation__name">
                      {{clubsNextMatch?.team1}}
                    </label>
                    <ion-radio
                      slot="end"
                      value="teamOne"
                      [checked]="isTeamOneChecked"
                      [disabled]="correctMatches"
                    ></ion-radio>
                  </ion-item>

                  <ion-item class="votation__team" lines="none">
                    <img
                      class="votation__img"
                      [src]="clubsNextMatch?.team2Img"
                    />
                    <label class="votation__name">
                      {{clubsNextMatch?.team2}}
                    </label>
                    <ion-radio
                      slot="end"
                      value="teamTwo"
                      [checked]="isTeamTwoChecked"
                      [disabled]="correctMatches"
                    ></ion-radio>
                  </ion-item>
                </ion-radio-group>
                <ion-button
                  class="votation__button"
                  (click)="vote()"
                  [disabled]="correctMatches"
                >
                  Votar
                </ion-button>
                <p class="votation__result">
                  Você acertou o vencedor de {{ correctMatches }} partidas
                </p>
              </div>
            </ion-row>
          </ion-label>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle style="margin-right: 10px"
            >Estatísticas da equipe</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
            "
          >
            <span *ngIf="clubStats && clubStats?.golsPro > 0"
              >Vitórias: {{ clubStats?.vitorias }}</span
            >
            <span *ngIf="clubStats && clubStats?.golsPro > 0"
              >Empates: {{ clubStats?.empates }}</span
            >
            <span *ngIf="clubStats && clubStats?.golsPro > 0"
              >Derrotas: {{ clubStats?.derrotas }}</span
            >
            <span *ngIf="clubStats && clubStats?.golsPro > 0"
              >Gols Marcados: {{ clubStats?.golsPro }}</span
            >
            <span *ngIf="clubStats && clubStats?.golsPro > 0"
              >Gols Sofridos: {{ clubStats?.golsContra }}</span
            >
            <span *ngIf="clubStats && clubStats?.golsPro > 0"
              >Saldo de gols: {{ clubStats?.sg }}</span
            >
          </div>
        </ion-card-content>
      </ion-card>

      <ion-slides
        [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
      >
        <ion-slide *ngFor="let game of supportedTeamGame">
          <ion-card style="width: 100%">
            <ion-card-content>
              <ion-card-subtitle style="margin-left: -7.5em"
                >Todas as Partidas - {{ game?.round }}</ion-card-subtitle
              >
              <ion-row style="align-items: center">
                <ion-row class="rowClubsMatch">
                  <img
                    [src]="game?.team1Img"
                    style="width: 40px; margin-right: 10px"
                  />
                  {{game?.score?.ft[0]}} x {{game?.score?.ft[1]}}
                  <img
                    [src]="game?.team2Img"
                    style="width: 40px; margin-left: 10px"
                  />
                </ion-row>
                <p style="padding-left: 10px">{{ game?.date }}</p>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ng-container>

    <ng-container *ngIf="changeSupporterTeam">
      <ion-content>
        <h4 class="chooseSupportClub">Escolha seu time do coração</h4>
        <ion-item class="headerTitleStyle">
          <ion-label>Campeonato</ion-label>
          <ion-select
            style="color: black"
            id="country"
            [(ngModel)]="country"
            (ionChange)="getClubInformation($event.detail.value)"
            [value]="country"
          >
            <ion-select-option value="brasil">Brasileirão</ion-select-option>
            <ion-select-option value="inglaterra"
              >Premier League</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-input
          class="searchClub"
          [(ngModel)]="search"
          value="search"
          (ionChange)="filterClubs()"
          appInput
          placeholder="Busque seu time"
        ></ion-input>
        <ion-list style="margin-bottom: 10px">
          <ion-item
            style="height: 3em"
            *ngFor="let clubs of getAllFilteredClubs"
          >
            <div
              (click)="initializeData(country, clubs?.name); changeSupporterTeam = false; timeDoCoracao = clubs?.name"
              class="listClubsStyle"
            >
              <img style="width: 20px" [src]="clubs?.url" />
              <ion-label>
                <h2 class="clubsName">{{clubs.name}}</h2>
              </ion-label>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-container>
  </ng-template>
</ion-content>
