<ion-content>
  <div *ngIf="isLoading === true; else showSupporterClub" style="display: flex; align-items: center; height: 30em; justify-content: center;">
    <ion-spinner></ion-spinner>
  </div>
  <ng-template #showSupporterClub>
  <ng-container *ngIf="supportedTeamGame && changeSupporterTeam === false">
  <ion-header collapse="condense">
    <ion-toolbar>
          <img style="width: 80px; height: 100px; margin-left: 40%; margin-bottom: 5px"[src]="supportTeamInfo.url">
    </ion-toolbar>
    <ion-row>
      <ion-button 
        (click)="changeSupporterTeam = true" 
        style="margin-left: 2.1em; margin-top: 1em; font-weight: 100; margin-bottom: 0px; padding-bottom: 0px;"
      >
        Virou a casaca? Selecione um novo time!
      </ion-button>
    </ion-row>
  </ion-header>

      <ion-card>
        <ion-card-content>
          <ion-card-subtitle>
            Nome: {{supportTeamInfo.name}}
          </ion-card-subtitle>
          <ion-card-subtitle>
            Local: {{supportTeamInfo.city}}
          </ion-card-subtitle>
          <ion-card-subtitle>
            Estádio: {{supportTeamInfo.stadium}}
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-row style="align-items: center;">
            <ion-card-subtitle style="margin-right: 10px">Próxima partida -</ion-card-subtitle>
            <ion-card-subtitle>{{ clubsNextMatch.round }}</ion-card-subtitle>
          </ion-row>
        </ion-card-header>
         
        <ion-card-content>
          <ion-label>
            <ion-row style="align-items: center;">
              <div style="margin-right: 10px">
                <img style="width: 40px" [src]="clubsNextMatch?.team1Img" />
              </div>
              <h3 style="margin-right: 10px">x</h3>
              <div style="margin-right: 10px">
                <img style="width: 40px" [src]="clubsNextMatch?.team2Img" />
              </div>
                <p>{{ clubsNextMatch.date }}</p>
            </ion-row>
          </ion-label>
        </ion-card-content>
      </ion-card>

      <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
        <ion-slide style="margin-top: -1em" *ngFor="let game of supportedTeamGame">
          <ion-card style="width: 100%">
            <ion-card-content>
            <ion-card-subtitle style="margin-left: -7.5em">Todas as Partidas - {{ game?.round }}</ion-card-subtitle>
            <ion-row style="align-items: center;">
              <ion-row style="margin-top: 10px; margin-bottom: 10px; align-items: center; justify-content: center;">
                <img [src]="game?.team1Img" style="width: 40px; margin-right: 10px;" /> 
                  x 
                <img [src]="game?.team2Img" style="width: 40px; margin-left: 10px" />
              </ion-row>
              <p style="padding-left: 10px">{{ game?.date }}</p>
            </ion-row>
            </ion-card-content>
        </ion-card>
        </ion-slide>
      </ion-slides>
  </ng-container>

  <ng-container *ngIf="changeSupporterTeam === true">
    <ion-content>
      <h4 style="margin-left: 15px; font-weight: 100;">Escolha seu time do coração</h4>
      <ion-list style="margin-bottom: 10px">
        <ion-item style="height: 3em;" *ngFor="let clubs of getAllClubs">
          <div (click)="initializeData('brasil', clubs?.name); changeSupporterTeam = false" 
            style="display: flex; flex-direction: row; align-items: center; cursor: pointer;">
          <img style="width: 20px" [src]="clubs?.url"/>
          <ion-label>
            <h2 style="font-weight: 100; color: black; margin-left: 0.5em">{{clubs.name}}</h2>
          </ion-label>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-container>
  </ng-template>
</ion-content>

