<ion-list-header>
  <div class="headerStyle">
    <h4 class="headerTitleStyle">Tabela do Campeonato</h4>
  </div>
</ion-list-header>

<ion-item class="headerTitleStyle">
  <ion-label>Campeonato</ion-label>
  <ion-select style="color: black" id="country" (ionChange)="initializeData($event.detail.value)" value="brasil">
    <ion-select-option value="brasil">Brasileirão</ion-select-option>
    <ion-select-option value="inglaterra">Premier League</ion-select-option>
  </ion-select>
</ion-item>

<div *ngIf="isLoading === true; else showStanding" class="isLoading">
  <ion-spinner></ion-spinner>
</div>
<ng-template #showStanding>
  <ion-content *ngIf="standings != null">
    <ion-card>
      <ion-card-content>
        <ion-grid class="gridStyle">
          <ion-row>
            <ion-col style="color: green" size="4.5">
              Clube
            </ion-col>
            <ion-col style="color: green" size="1.5">
              Pts
            </ion-col>
            <ion-col style="color: green" size="1.5">
              PJ
            </ion-col>
            <ion-col style="color: green" size="1.5">
              V
            </ion-col>
            <ion-col style="color: green" size="1.5">
              E
            </ion-col>
            <ion-col style="color: green" size="1.5">
              D
            </ion-col>
          </ion-row>

          <ion-row id="rows" [ngClass]="{
                'g4': i > 0 && i < 5 , 
                'z4': i > (standings.length -5)
              }" *ngFor="let team of standings; let i=index;">
            <ion-col style="text-overflow: ellipsis;" size="4.5">
              {{ team.team | slice:0:13 }}
            </ion-col>
            <ion-col size="1.5">
              {{ team.pontos }}
            </ion-col>
            <ion-col size="1.5">
              {{ team.jogos }}
            </ion-col>
            <ion-col size="1.5">
              {{ team.vitorias }}
            </ion-col>
            <ion-col size="1.5">
              {{ team.empates }}
            </ion-col>
            <ion-col size="1.5">
              {{ team.derrotas }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-template>