<ion-content class="ion-padding">
  <div style="display: flex; flex-wrap: wrap;" id="content">
    <div style="width: 100%;max-height: 25%;">
      <ion-row style="justify-content: center;">
        <img class="logo" src="./../../../assets/Ativo 2.svg" alt="">
      </ion-row>
    </div>
    <ion-grid id="grid-login">

      <ion-row>
        <!-- <ion-item>
          <app-input></app-input>
        </ion-item> -->
        <ion-item id="input">
          <ion-input placeholder="LOGIN"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <!-- <ion-item>
          <app-input></app-input>
        </ion-item> -->
        <ion-item id="input">
          <ion-input placeholder="PASSWORD"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-button class="btn"><strong>LOGIN</strong></ion-button>
      </ion-row>
    </ion-grid>
    <div id=sign-up>
      <ion-row style="justify-content: center;">
        <h4><strong>NEED AN ACCOUNT?</strong></h4>
      </ion-row>
      <ion-row style="justify-content: center;">
        <ion-button class="btn"><strong>SIGN UP </strong></ion-button>
      </ion-row>
    </div>

  </div>
</ion-content>